.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002f34;
    color: #fff;
    width: 100%;
    position: fixed;
    margin-bottom: 50px;
    z-index: 100;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #24e5db;
}

.container {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

.alph-o {
    font-size: 45px;
    font-weight: 900;
}

.alph-l {
    font-size: 50px;
    font-weight: 900;
}

.alph-x {
    font-size: 40px;
    font-weight: 900;
}

.block-right {
    width: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lang-olx {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;


}


.lang-olx div {
    height: 10px;
    border: 1px solid #626262;
}

.favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.favorite p{
    text-align: center;
    width: 20px;
    height: 20px;
    background-color:#2769ff;
    color:white;
    font-size: 10px;
    border-radius:100%;
    margin-top: -20px;
}

.profile {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-olx-top {
    padding: 3px 10px;
    background-color: #fff;
    border-radius: 5px;

}

.btn {
    border: none;
    outline: none;
    background-color: #fff;
    color: #204e54;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transition: 0.3s ease-in-out;
    background-color: #002f34;
    padding: 10px;
    color: #fff;
}

















